Dad's Art Catalog/force-app/main/default/flows/Add_Art_Catalog_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Input_to_Record</name>
        <label>Assign Input to Record</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Art_Item.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Art_Item.Artist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Artist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Art_Item.Date_Acquired__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Date_Acquired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Art_Item.Purchase_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Purchase_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Art_Item.Estimated_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Art_Item.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Copy_1_of_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Art_Item.Imugr_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Copy_1_of_Imugr_Link.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Art_Item.Backup_Image_File_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Copy_1_of_Copy_1_of_Backup_Image_File_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Art_Item.Backup_Image_File_Path__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Copy_1_of_Copy_1_of_Backup_Image_File_Path</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Art_Item.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Art_Catalog_Item</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Add Art Catalog Item {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Add Art Catalog Item v10</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Art_Catalog_Item</name>
        <label>Create Art Catalog Item</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <inputReference>Art_Item</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Copy_1_of_User_Input</name>
        <label>Copy 1 of User Input</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_User_Input</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Instructions_1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Enter Art Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Date_Acquired</name>
            <dataType>Date</dataType>
            <fieldText>Date Acquired</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Purchase_Price</name>
            <dataType>Currency</dataType>
            <fieldText>Purchase Price</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Estimated_Value</name>
            <dataType>Currency</dataType>
            <fieldText>Estimated Value</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_User_Input</name>
        <label>Copy 2 of User Input</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_3_of_User_Input</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Instructions_1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Enter Art Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Instructions_2</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Where is the art located:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Location</name>
            <fieldText>Location</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Instructions_3</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Upload the Image to Imugr and enter the image link here:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Note - The &quot;i.&quot; will need to be added to the beginning of the URL and &quot;.jpg&quot; to the end &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Example (&lt;span style=&quot;background-color: rgb(255, 251, 255); font-size: 12px; font-family: sans-serif; color: rgb(35, 25, 25);&quot;&gt;https://i.imgur.com/VFSRofp.jpg&lt;/span&gt;)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Imugr_Link</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Imugr Link</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_User_Input</name>
        <label>Copy 3 of User Input</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Input_to_Record</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Instructions_1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Enter Art Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Instructions_4</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Describe the Storage Device (specific computer, hard drive, etc.) used to backup this image:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Backup_Image_File_Location</name>
            <fieldText>Backup Image File Location</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Instructions_5</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Enter the exact file path to the backup image file on the storage device specified above:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Backup_Image_File_Path</name>
            <dataType>String</dataType>
            <fieldText>Backup Image File Path</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_Input</name>
        <label>User Input</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_User_Input</targetReference>
        </connector>
        <fields>
            <name>Instructions_1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Enter Art Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Artist</name>
            <dataType>String</dataType>
            <fieldText>Artist</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Input</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Art_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Art__c</objectType>
    </variables>
</Flow>
