Dad's Art Catalog/force-app/main/default/flows/Add_Additional_Cost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Input_To_Additional_Cost_to_Insert</name>
        <label>Assign Input To Additional Cost to Insert</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Additional_Cost_to_Insert.Art__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Art_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Additional_Cost_to_Insert.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Additional_Cost_to_Insert.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Additional_Cost</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Add Additional Cost {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Add Additional Cost</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Additional_Cost</name>
        <label>Insert Additional Cost</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputReference>Additional_Cost_to_Insert</inputReference>
    </recordCreates>
    <screens>
        <name>Add_Additional_Art_Cost_Details</name>
        <label>Add Additional Art Costs</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Input_To_Additional_Cost_to_Insert</targetReference>
        </connector>
        <fields>
            <name>Instructions_1</name>
            <fieldText>&lt;p&gt;Did you have any additional costs associated with this piece of art?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Test</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;Related Art Id&lt;/strong&gt;&lt;span style=&quot;font-size: 28px;&quot;&gt;: {!Related_Art_Id}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Additional_Art_Cost_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Additional_Cost_to_Insert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Additional_Cost__c</objectType>
    </variables>
    <variables>
        <name>Related_Art_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
